.container {
    margin-top:10px;
    margin:0 auto;
    width: 80%;
}
.profile-picture {
    margin:0 auto;
    margin-bottom:20px;
    margin-top:10px;
    display:block;
    max-width:100%;
}
.about-lead {
    font-size: 1.25rem;
    margin:0 auto;
    text-align: center;
}
.about-body {
    text-align:center;
    font-size: 1.1rem;
    margin-bottom:40px;
}