<div class="container">
    <div>
      <!-- <Jumbotron> -->
      <img class="profile-picture" src="../../../assets/images/about/about-bjellesma.jpg" alt="profile" />
        <p class="about-lead">I'm Bill Jellesma, a junior full stack engineer working in Auburn, Massachusetts. My current tech stack is a python backend with an Angular frontend.</p>
        <hr class="my-2" />
        <p class="about-body">
          Besides coding being my bread and butter, I enjoy coding side projects on nights/weekends to keep up with new tech. But wait there's more. I enjoy working out whether it be lifting at the gym, trying out the new workout for crossfit, or just going for a run.
          I enjoy reading/watching some good sci fi, listening to music, and keeping up with the latest Aerospace news.
          I'm either playing video games or thinking about playing video games at some point in my day.
        </p>
      <!-- </Jumbotron> -->
    </div>
</div>