<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a mat-button [routerLink]="'/home'"><h1>BillJellesmaCoding</h1></a>
      <span class="menu-spacer"></span>
      <div>
        <!-- <a mat-button [routerLink]="'/tags'">Tags</a> -->
        <a mat-button [routerLink]="'/about'">About</a>
        <a mat-button href="https://twitter.com/search?q=%23quicktip%20(from%3Abjellesma)&src=typed_query">Quick Tip Tweets</a>
        <!-- <a mat-button [routerLink]="'/contact'">Contact</a> -->
      </div>
    </mat-toolbar-row>
  </mat-toolbar>