<div class="container">
    <mat-card  *ngFor="let page of routes$ | async" class="postcard">
        <mat-card-header class="post-header">
          <img mat-card-avatar src={{page.authorImage}} alt={{page.author}} />
          <mat-card-title>{{page.title}}</mat-card-title>
          <mat-card-subtitle class="post-subtitle">Author: {{page.author}} | Updated at: {{page.updateTime}}</mat-card-subtitle>
        </mat-card-header>
          <a routerLink="{{page.route}}/">
            <img mat-card-image class="post-thumbnail" src={{page.image}} alt={{page.title}}>
        </a>
        <mat-card-content>
          <p>
            {{page.tagline}}
          </p>
        </mat-card-content>
        <mat-chip-list #tagList aria-label="Tag List">
          <mat-chip color="primary" *ngFor="let tag of page.tags">
            {{tag}}
          </mat-chip>
        </mat-chip-list>
    </mat-card>
</div>
