.container {
    margin:0 auto;
    width: 80%;
}

.postcard {
  /* TODO: Create theme with background color and color */
  background-color: #192734;
  color:#eeeeee;
  border:1px solid #164D56;
  max-width: 100%;
}
.post-header {
  padding-bottom:5px;
}
.post-subtitle {
  color: #eeeeee;
}
.post-thumbnail {
  object-fit:cover;
  display: block;
  width:400px;
  height:180px;
  margin-left:5px;
}